@mixin animationUpDowm($animationName,$distance, $time, $period){
    @keyframes #{$animationName} {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY($distance);
        }
        100% {
            transform: translateY(0);
        }
    }
    animation: #{$animationName} $time ease-in-out $period;
}

@mixin changeSize($animationName, $time, $period){
    @keyframes #{$animationName}{
        0% {
            transform: scale(0.5);
            transform: translateY(5px);
        }
        25% {
            transform: scale(1.5);
            transform: translateY(-10px);
        }
        50% {
            transform: scale(0.5);
        }
        75%{
            transform: scale(1);
        }
        100%{
            transform: scale(0.5);
        }
      }
    animation: #{$animationName} $time ease-in-out $period;
}

@mixin appear($animationName,$start, $finish, $time){
    @keyframes #{$animationName} {
        0% {
          opacity: $start;
        }
        100% {
          opacity: $finish;
        }
    }
    animation: #{$animationName} $time ease-in-out ;
}

@mixin semicircularMotion($animationName,$time,$horizontal){
    @keyframes #{$animationName}{
        0% {
          transform: rotate(0deg)  translateX(0);
        }
        50% {
          transform: rotate(-180deg) translateX($horizontal);
        }
        100% {
          transform: rotate(0deg) translateX(0) ;
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;
}

@mixin tilt($animationName,$time,$start,$end, $distance, $translateX){
    @keyframes #{$animationName} {
        0% {
          transform: rotate(0) translateY(calc($distance/10)*10) translateX($translateX);
        }
        10%{
            transform: rotate($start) translateY(calc($distance/10)*9) translateX($translateX);
        }
        20%{
            transform: rotate(0) translateY(calc($distance/10)*8) translateX($translateX);
        }
        30% {
            transform: rotate($end) translateY(calc($distance/10)*7) translateX($translateX);
        }
        40% {
            transform: rotate(0) translateY(calc($distance/10)*6) translateX($translateX);
        }
        50%{
            transform: rotate($start) translateY(calc($distance/10)*5) translateX($translateX);
        }
        60%{
            transform: rotate(0) translateY(calc($distance/10)*4) translateX($translateX);
        }
        70% {
            transform: rotate($end) translateY(calc($distance/10)*3) translateX($translateX);
        }
        80%{
            transform: rotate(0) translateY(calc($distance/10)*2) translateX($translateX);
        }
        90%{
            transform: rotate(0) translateY(calc($distance/10)) translateX($translateX);
        }
        100%{
            //transform: rotate(0) translateY(calc($distance/10-$distance/20)) translateX($translateX);
            transform: rotate(0) translateY(calc($distance / 10 - $distance / 20)) translateX($translateX);
        }
      }
    animation: #{$animationName} $time ease-in-out forwards;
}

@mixin fallDown($animationName,$time,$distance){
    @keyframes #{$animationName} {
        0% {
            transform: translateY(0)
        }
        100% {
            transform: translateY($distance)
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;
}

@mixin sideBySide($animationName,$time,$distance){
    @keyframes #{$animationName} {
        0% {
            transform: translateX(0)
        }
        50%{
            transform: translateX($distance)
        }
        100% {
            transform: translateX(0)
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;
}


@mixin chomp($animationName,$time, $translatex, $translatey){
    @keyframes #{$animationName} {
        0%{
            transform: translate(0, 0);
        }
        50% {
            transform: translate(-$translatex, -$translatey);
        }
        100% {
            transform: translate(0, 0)rotate(0);
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;
}
@mixin flySideBySide($animationName, $time){
    @keyframes #{$animationName}{
        0% {
            transform: translateX(0) translateY(2vw);
        }
        10% {
            transform: translateX(1vw) translateY(0);
        }
        20% {
            transform: translateX(2vw) translateY(2vw);
        }
        30%{
            transform: translateX(3vw) translateY(0);
        }
        40%{
            transform: translateX(4vw) translateY(2vw);
        }
        50% {
            transform: translateX(5vw) translateY(0);
        }
        60% {
            transform: translateX(6vw) translateY(2vw);
        }
        70% {
            transform: translateX(7vw) translateY(0);
        }
        80%{
            transform: translateX(8vw) translateY(2vw);
        }
        90%{
            transform: translateX(8vw) translateY(0);
        }
        100%{
            transform: translateX(8vw) translateY(0);
        }
      }
    animation: #{$animationName} $time ease-in-out infinite;
}

@mixin disappear($animationName, $time){
    @keyframes #{$animationName}{
        0%{
            display: block;
            opacity: 1;
        }
        50%{
            opacity: 1; 
        }
        100%{
            display: none;
            opacity: 0;
            z-index: -1000000000;
        }
    }
    animation: #{$animationName} $time ease-in-out forwards;
}

@mixin fastDisappear($animationName, $time){
    @keyframes #{$animationName}{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    animation: #{$animationName} $time ease-in-out infinite;
}

//appear in the screen 
@mixin screenView($animationName, $time, $position1, $position2, $position3, $position4, $left-or-top, $startPosition){
    @keyframes #{$animationName}{
        from{
            transform: translateX($position1) translateY($position3);
            #{$left-or-top}: $startPosition;
        }
        to{
            transform: translateX($position2)translateY($position4);
            @if $left-or-top == top {
                #{$left-or-top}: $position4;
            } @else{
                #{$left-or-top}: $position2;
            }
        }
    }
    animation: #{$animationName} $time ease-in-out forwards;
}

@mixin blooper($animationName,$time,$start,$end, $distance, $translateX, $delay){
    @keyframes #{$animationName} {
        0% {
            transform: rotate(0) translateY(calc($distance / 10 - $distance / 20)) translateX($translateX);
        }
        10%{
            transform: rotate(0) translateY(calc($distance/10)*1) translateX($translateX);
        }
        20%{
            transform: rotate(0) translateY(calc($distance/10)*2) translateX($translateX);
        }
        30% {
            transform: rotate(0) translateY(calc($distance/10)*3) translateX($translateX);
        }
        40% {
            transform: rotate(0) translateY(calc($distance/10)*4) translateX($translateX);
        }
        50%{
            transform: rotate($start) translateY(calc($distance/10)*5) translateX($translateX);
        }
        60%{
            transform: rotate(0) translateY(calc($distance/10)*6) translateX($translateX);
        }
        70% {
            transform: rotate($end) translateY(calc($distance/10)*7) translateX($translateX);
        }
        80%{
            transform: rotate($end) translateY(calc($distance/10)*8) translateX($translateX);
        }
        90%{
            transform: rotate($start) translateY(calc($distance/10)*9) translateX($translateX);
        }
        100%{
            transform: rotate(0) translateY(calc($distance/10)*10) translateX($translateX);
        }
      }
    animation: #{$animationName} $time ease-in-out forwards;
    //animation-delay: $delay;
}