// FONTS 
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
$silkscreen: 'Silkscreen', cursive;

// Colors 
$yellow: #EFFC9C;
$black: #000;
$white: #fff;
$blue: #0BE4F2; 
$blue-dark: #192EEA;

//typography
$xx-large:70px; 
$x-large:50px;
$large: 30px;
$medium: 25px;
$small: 18px;
$x-small: 16px;
